.list {
  text-align: center;
  &__project {
    text-transform: uppercase;
    margin: 50px 0 40px;
    padding: 20px;
    font-size: 30px;
    z-index: 2;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em #d66625, 0 0 0.2em #0c0c0c;
    color: white;
  }
  &__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
  }

  &__li {
    width: 330px;
    // border: 0.1px solid rgba(228, 143, 104, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 5px 0 5px;
    @media all and (min-width: 768px) {
      margin: 20px 20px 0 20px;
    }
    @media all and (min-width: 1020px) {
      margin: 30px 30px 0 30px;
    }
  }

  &__title {
    // background-color: rgba(36, 35, 35, 0.4);
    padding: 20px;
    color: black;
    opacity: 0.7;
    font-size: 25px;
    z-index: 2;
    font-weight: 700;
  }
  &__divImg {
    width: 290px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 10px 0 white, 0 1px 13px 0 rgba(22, 3, 3, 0.877);
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.6;
  }
  &__div {
    width: 300px;
    //  background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-15px);
    &__p {
      font-size: 12px;
      margin-top: 10px;
      padding: 0 15px 0 15px;
      line-height: 1.3;
    }
  }

  &__articleButton {
    transform: translateY(-25px) translateX(110px);
  }

  &__button {
    text-decoration: none;
    color: black;
    border-radius: 50%;
    z-index: 3;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
  }
  &__button:hover {
    color: rgb(121, 121, 121);
  }
}
